.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spinner {
    border-radius: 100%;
    animation: spin 1.2s infinite ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}