@keyframes fadeinSnackBar {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeoutSnackBar {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 5;
    left: 50%;
    bottom: 30px;
    font-family: "Titillium_Web-Regular", sans-serif;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    animation: fadeinSnackBar 0.5s, fadeoutSnackBar 0.5s 3.6s;
}