@keyframes fadeinSnackBar {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeoutSnackBar {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 5;
    left: 50%;
    bottom: 30px;
    font-family: "Titillium_Web-Regular", sans-serif;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    animation: fadeinSnackBar 0.5s, fadeoutSnackBar 0.5s 3.6s;
}

#confirm-bg {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

#confirm-box {
    background-color: var(--theme-darkblue-color-6);
    margin: 10% auto;
    padding: 20px;
    color: white;
    border: 2px solid var(--theme-darkblue-color-3);
    width: fit-content;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 0 10px 1px var(--theme-darkblue-color-3);
    visibility: hidden;
    font-family: "Titillium_Web-Regular", sans-serif;
    font-size: 20px;
}

#confirm-box.show {
    visibility: visible;
    animation: fadeinConfirmDialog 0.5s;
}

@keyframes fadeinConfirmDialog {
    from {
        margin-top: -200px;
        opacity: 0;
    }

    to {
        margin-top: 10%;
        opacity: 1;
    }
}