<div id="snackbar"></div>
<div id="confirm-bg">
    <div id="confirm-box">
        <p id="confirm-message" style='white-space: pre'>Are you sure you want to proceed?</p>
        <div
            style="width: 100%; display: flex; flex-direction: row; gap: 5px; justify-content: center; align-items: center;">
            <button id="confirm-yes" class="btn-light-small" style="width: 60px">Yes</button>
            <button id="confirm-no" class="btn-light-small" style="width: 60px">No</button>
        </div>

    </div>
</div>
<router-outlet />