<app-icon class="logo" src="assets/svg/quiz_logo_icon.svg" color="var(--theme-darkblue-color-3)"></app-icon>
<div>
    <!-- <app-icon class="icon" title="Notifications" src="/assets/svg/icon_bell.svg" color="var(--theme-darkblue-color-3)" (click)="handleNotificationClick()"/> -->
    <app-icon class="icon" title="Settings" src="/assets/svg/icon_settings2.svg" color="var(--theme-darkblue-color-3)" (click)="handleSettingsClick()"/>
    <app-icon class="icon" title="Log out" src="/assets/svg/icon_logout.svg" color="var(--theme-darkblue-color-3)" (click)="handleLogoutClick()"/>
</div>
