<div class="container">
    <label class="hdr">Avatars</label>
    <div class="avatar-box">
        <img *ngFor="let avatar of avatars" [src]="'http://localhost:3000/static/avatars/' + avatar" [class.selected]="avatar === selectedAvatar" (click)="changeAvatar(avatar)"/>
    </div>
    <div class="bottom">
        <label>Selected avatar:</label>
        <img style="box-shadow: 0 0 1px 3px var(--theme-darkblue-color-6); cursor: default;" [src]="'http://localhost:3000/static/avatars/' + selectedAvatar" />
        <div class="btns">
            <button class="btn-light-small" (click)="save()">Save</button>
            <button class="btn-light-small" (click)="close('')">Close</button>
        </div>
    </div>
</div>