<div class="container">
    <app-icon class="logo" src="assets/svg/quiz_logo_icon.svg" color="var(--theme-darkblue-color-3)"></app-icon>
    <label>Change password for ...</label>
    <form *ngIf="!success" class="reset-box" #resetForm="ngForm">
        <div class="form-input">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" #passwordRef="ngModel"
                [ngClass]="{'invalid': passwordRef.invalid && passwordRef.touched}" [(ngModel)]="newPassword"
                placeholder="Enter password" minlength="8" required />
            <label *ngIf="passwordRef.invalid && passwordRef.touched" class="error">
                Please enter a valid password
            </label>
            <label class="note">Password should be at least 8 characters long.</label>
        </div>
        <div class="form-input">
            <label for="conf-password">Confirm password</label>
            <input id="conf-password" name="conf-password" type="password" #confPasswordRef="ngModel"
                [ngClass]="{'invalid': confPasswordRef.invalid && confPasswordRef.touched}" [(ngModel)]="confPassword"
                placeholder="Confirm password" required [disabled]="passwordRef.invalid" />
            <label *ngIf="confPasswordRef.touched && newPassword !== confPassword" class="error">Passwords do not
                match.</label>
        </div>
        <button class="btn-light" style="margin-top: 5px;" type="submit" (click)="onSubmit()"
            [disabled]="!resetForm.form.valid || newPassword !== confPassword">Reset password</button>
    </form>
    <div *ngIf="success" class="reset-box">
        <label style="font-size: 16px;">Password has been changed successfully!</label>
        <button class="btn-light" style="margin-top: 5px;" routerLink="">Back to log in</button>
    </div>
</div>