:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: radial-gradient(ellipse at center, #0056b9, #13243c 70%);
    color: #fff;
    font-family: 'Titillium_Web-Regular', sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    gap: 20px;

    .logo {
        margin-top: 10px;
        width: 250px;
        height: 150px;
    }

    label {
        font-size: 24px;
    }
}

.reset-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 25, 53, 0.63);
    border: 1px solid rgba(0, 17, 36);
    border-radius: 2px;
    padding: 5px 15px 10px 15px;

    button {
        font-size: 16px;
    }
}

.form-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
        font-size: 16px;
    }

    input {
        padding: 10px;
        background-color: rgba(0, 17, 36, 0.81);
        border: 1px solid transparent;
        color: white;
        font-size: 16px;
        border-radius: 2px;
        margin-bottom: 5px;
    }

    input:focus {
        outline: none;
        border: 1px solid var(--theme-darkblue-color-3);
    }

    input:disabled {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .note {
        color: var(--theme-color-neutral-1);
        font-size: 12px;
    }

    .error {
        color: rgb(243, 61, 73);
        font-size: 12px;
    }

    .invalid {
        border: 1px solid rgb(243, 61, 73);
    }
}