.notification {
    box-sizing: border-box;
    position: fixed;
    bottom: 20px;
    right: 0px;
    width: 200px;
    height: 50px;
    background-color: var(--theme-darkblue-color-6);
    border: 1px solid var(--theme-darkblue-color-3);
    box-shadow: 0 0 10px 4px var(--theme-darkblue-color-3);
    border-radius: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    animation: glow 1s infinite forwards;
}

@keyframes glow {
    0% {
        border: 1px solid var(--theme-darkblue-color-3);
        box-shadow: 0 0 10px 4px var(--theme-darkblue-color-3);
    }

    50% {
        border: 1px solid white;
        box-shadow: 0 0 10px 4px white;
    }

    100% {
        border: 1px solid var(--theme-darkblue-color-3);
        box-shadow: 0 0 10px 4px var(--theme-darkblue-color-3);
    }
}