<app-battle-summary *ngIf="showBattleSummary" [data]="battleSummaryData" (closeEvent)="goToMainPage()" />
<div style="display: flex; flex-direction: column; width: 100%;">
    <div class="user">
        <div class="user-info">
            <img [src]="'http://localhost:3000/static/avatars/' + user.avatar" alt="User Avatar" class="avatar" />
            <label>{{user.username}}</label>
            <div class="user-points">
                <label class="points">Points: {{userPoints}}</label>
                <span *ngIf="userDeltaPoints !== 0" class="user-delta-points" [ngClass]="{
                    'delta-points-red': userDeltaPoints < 0,
                    'delta-points-green': userDeltaPoints > 0
                }">{{userDeltaPoints > 0 ? '+' : ''}}{{userDeltaPoints}}</span>
            </div>

        </div>

        <label style="margin-top: auto; color: transparent;">aaaa</label>
    </div>
    <div class="actions-container">
        <div class="actions-box">
            <label style="user-select: none; font-size: 28px;">Actions</label>
            <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
            <div class="action-buttons">
                <button class="action-button" title="Remove 2 wrong answers"
                    (click)="handleActionButtonClick(ACTION_TYPE.HIDE_2_WRONG_ANSWERS)"
                    [disabled]="actionsUsed[ACTION_TYPE.HIDE_2_WRONG_ANSWERS] || actionUsed || answerSummaryPhase || selectedAnswer !== null || overtimePhase">
                    {{actionNames[ACTION_TYPE.HIDE_2_WRONG_ANSWERS]}}</button>
                <button class="action-button" title="Make opponent time cut in half"
                    (click)="handleActionButtonClick(ACTION_TYPE.HALF_THE_TIME_OPPONENT)"
                    [disabled]="actionsUsed[ACTION_TYPE.HALF_THE_TIME_OPPONENT] || actionUsed || answerSummaryPhase || selectedAnswer !== null || overtimePhase">
                    {{actionNames[ACTION_TYPE.HALF_THE_TIME_OPPONENT]}}</button>
                <button class="action-button" title="Double negative points to opponent"
                    (click)="handleActionButtonClick(ACTION_TYPE.DOUBLE_NEGATIVE_POINTS_OPPONENT)"
                    [disabled]="actionsUsed[ACTION_TYPE.DOUBLE_NEGATIVE_POINTS_OPPONENT] || actionUsed || answerSummaryPhase || selectedAnswer !== null || overtimePhase">
                    {{actionNames[ACTION_TYPE.DOUBLE_NEGATIVE_POINTS_OPPONENT]}}</button>
            </div>

        </div>
    </div>
</div>
<div class="battle">
    <app-icon src="assets/svg/quiz_logo_icon.svg" color="var(--theme-darkblue-color-3)" style="width: 300px;
        height: 200px; margin-top: 10%;" />
    <div
        style="display: flex; flex-direction: column; margin-top: auto; width: 100%; align-items: center; padding: 2px 5px; box-sizing: border-box;">
        <div class="time">
            <label>{{remainingTime}}</label>
            <div class="timer-bar">
                <div class="progress" [style.width.%]="(remainingTime / totalTime) * 100"></div>
            </div>
        </div>
        <div class="quiz-content">
            <label class="question">{{question.text}}</label>
            <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
            <div class="answers">
                <label class="answer" [class.selected]="selectedAnswer === a"
                    [class.disabled]="selectedAnswer !== null && selectedAnswer !== a || a.isDisabled"
                    [class.disable-events]="answerSummaryPhase || selectedAnswer !== null || remainingTime === 0"
                    [class.correct-answer]="correctAnswerIndex === i"
                    [class.wrong-answer]="userAnswerIndex !== correctAnswerIndex && userAnswerIndex !== -1 && userAnswerIndex === i"
                    (click)="handleAnswerClick(a)" *ngFor="let a of question.answers, let i = index">
                    <span class="circle user-answer-circle" *ngIf="userAnswerIndex === i"></span>
                    <span class="circle opponent-answer-circle" *ngIf="opponentAnswerIndex === i"></span>
                    {{a.text}}
                </label>
            </div>
        </div>
    </div>
    <div class="btns">
        <button class="btn-light-small btn-red" [ngClass]="{
                    'btn-leave-red': reallyLeave
                }" (click)="handleLeaveClick()">{{reallyLeave? 'Really ': ''}}Leave</button>
        <app-report (report)="handleReport($event)"></app-report>
    </div>

</div>
<div style="display: flex; flex-direction: column; width: 100%;">
    <div class="user">
        <div class="user-info">
            <img [src]="'http://localhost:3000/static/avatars/' + opponent.avatar" alt="User Avatar" class="avatar" />
            <label>{{opponent.username}}</label>
            <div class="user-points">
                <label class="points">Points: {{opponentPoints}}</label>
                <span class="opponent-delta-points" [ngClass]="{
                    'delta-points-red': opponentDeltaPoints < 0,
                    'delta-points-green': opponentDeltaPoints > 0
                }" *ngIf="opponentDeltaPoints !== 0">{{opponentDeltaPoints > 0 ? '+' :
                    ''}}{{opponentDeltaPoints}}</span>
            </div>
        </div>
        <label *ngIf="opponentAction === -1" style="margin-top: auto; color: transparent;">aaa</label>
        <div class="opponent-action" *ngIf="opponentAction !== -1">
            <label>{{opponent.username}} has used <span
                    style="font-size: 18px; color: var(--theme-darkblue-red);">{{getActionName(opponentAction)}}</span></label>
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-box">
            <div
                style="height: fit-content; width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <label style="user-select: none; font-size: 28px;">Chat</label>
                <app-icon *ngIf="!muteActive" class="icon" src='/assets/svg/icon_volume_on.svg'
                    color="var(--theme-darkblue-color-3)" title="Mute chat" (click)="muteActive = !muteActive"
                    [class.selected]="muteActive" />
                <app-icon *ngIf="muteActive" class="icon" src='/assets/svg/icon_volume_off.svg'
                    color="var(--theme-darkblue-color-3)" title="Unmute chat" (click)="muteActive = !muteActive"
                    [class.selected]="muteActive" />
            </div>
            <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
            <div class="chat" #chatBox>
                <div class="chat-message" *ngFor="let msg of chatMessages, let i = index"
                    [style.margin-left]="checkIfUser(msg.username)">
                    <label style="font-size: 12px;"
                        [style.margin-left]="checkIfUser(msg.username)">{{msg.username}}</label>
                    <label class="chat-msg-container">{{msg.message}}</label>
                </div>
            </div>
            <div class="chat-text">
                <input type="text" placeholder="Chat with opponent..." (keydown.enter)="sendMessage()"
                    [(ngModel)]="messageText" />
                <app-icon src="/assets/svg/icon_chat_send.svg" color="var(--theme-darkblue-color-3)"
                    title="Send message" (click)="sendMessage()" />
            </div>
        </div>
    </div>
</div>
<div *ngIf="showOvertimeMessage" class="overtime-background">
    <div class="overtime-container">
        <label>Both players have same number of points</label>
        <label>Proceeding to overtime phase in {{overtimeSecondsRemaining}}s...</label>
        <label>Note: First player to answer question correctly wins.</label>
    </div>
</div>