:host {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #0056b9, #13243c 70%);
    color: #fff;
    font-family: 'Titillium_Web-Regular', sans-serif;
    overflow: hidden;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;

    .avatar {
        border: 1px solid white;
        border-radius: 2px;
        padding: 5px;
        width: 50px;
        height: 50px;
    }
}

.battle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .time {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;

        label {
            font-size: 32px;
            color: white;
        }

        .timer-bar {
            width: 100%;
            height: 7px;
            border-radius: 2px;
            overflow: hidden;
            box-shadow: 0 0 3px 2px var(--theme-darkblue-color-5);
        }

        .progress {
            height: 100%;
            background-color: var(--theme-darkblue-color-3);
            transition: width 0.45s linear;
        }
    }
}

.quiz-content {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 20px;
    background-color: var(--theme-darkblue-box-bg);

    .question {
        width: fit-content;
        padding: 5px 10px;
        font-size: 32px;
    }

    .answers {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .answer {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 10px;
        background-color: var(--theme-darkblue-color-5);
        border: 1px solid var(--theme-darkblue-color-3);
        border-radius: 2px;
        cursor: pointer;
        text-align: center;
        transition: all 0.1s ease;

        .user-answer-circle {
            left: 10px;
        }

        .opponent-answer-circle {
            right: 10px;
        }
    }

    .answer:hover {
        background-color: var(--theme-darkblue-button-dark-hover);
        box-shadow: 0 0 4px 2px var(--theme-darkblue-color-3);
    }

    .answer:active {
        background-color: var(--theme-darkblue-button-dark-active);
        box-shadow: 0 0 4px 2px var(--theme-darkblue-color-3);
    }

    .answer.selected {
        background-color: var(--theme-darkblue-button-dark-active);
        box-shadow: 0 0 4px 2px var(--theme-darkblue-color-3);
    }

    .answer.disabled {
        user-select: none;
        pointer-events: none;
        background-color: darkgray;
        cursor: default;
    }

    .answer.disable-events {
        user-select: none;
        pointer-events: none;
    }

    .answer.correct-answer {
        border: 1px solid var(--theme-darkblue-green);
        box-shadow: 0 0 4px 2px var(--theme-darkblue-green);
    }

    .answer.wrong-answer {
        border: 1px solid var(--theme-darkblue-red);
        box-shadow: 0 0 4px 2px var(--theme-darkblue-red);
    }
}

.circle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid var(--theme-darkblue-color-3);
    box-shadow: 0 0 7px 3px var(--theme-darkblue-color-3);
    animation: circle-glow 0.8s linear infinite forwards;
}

@keyframes circle-glow {

    0%,
    100% {
        box-shadow: 0 0 7px 3px var(--theme-darkblue-color-3);
    }

    50% {
        box-shadow: 0 0 2px 1px var(--theme-darkblue-color-3);
    }
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat-box {
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--theme-darkblue-color-3);
    background-color: var(--theme-darkblue-box-bg);
    border-radius: 2px;
    padding: 10px;
}

.chat {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--theme-darkblue-color-6);
    border-radius: 2px;
    box-shadow: 0 0 4px 0px var(--theme-darkblue-color-3);
}

.chat-message {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.chat-text {
    position: relative;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;

    input {
        box-sizing: border-box;
        width: 100%;
        color: white;
        background-color: var(--theme-darkblue-color-6);
        border-radius: 2px;
        box-shadow: 0 0 4px 0px var(--theme-darkblue-color-3);
        outline: none;
        border: transparent;
        padding: 7px 40px 7px 7px;
        font-size: 18px;
    }

    app-icon {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        right: 10px;
        top: calc(50% - 10px);
        cursor: pointer;
    }
}