:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium_Web-Regular', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-window {
    background: linear-gradient(315deg, #0056b9, 40%, #13243c);
    border: 1px solid var(--theme-darkblue-color-3);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px 20px 20px;
    width: 40%;
    min-width: 400px;
    max-height: 80vh;
    overflow-y: auto;

    button {
        margin-left: auto;
    }
}