<div class="modal-window">
    <label class="hdr">Ban user until</label>
    <div style="display: flex; flex-direction: row; gap: 5px; align-items: center;">
        <input #banDateRef (change)="checkDate()" class="date-input" type="text" placeholder="Select ban date..."
            appDatepicker [(ngModel)]="banDate" (dateSelected)="banDateSelected($event)">
        <!---------------- HOURS ---------------->
        <select [(ngModel)]="banHours" style="cursor: pointer; margin-left: 10px;" (change)="checkDate()">
            <option *ngFor="let hour of getHours()" [ngValue]="hour">{{hour}}</option>
        </select>
        <span>HH</span>
        <!---------------- MINUTES ---------------->
        <select [(ngModel)]="banMinutes" style="cursor: pointer; margin-left: 10px;" (change)="checkDate()">
            <option *ngFor="let minut of getMinutes()" [ngValue]="minut">{{minut}}</option>
        </select>
        <span>MM</span>
    </div>
    <div class="btns">
        <button class="btn-light-small" (click)="handleClose()">Close</button>
        <button class="btn-light-small btn-red" [ngClass]="{
            'btn-disabled': !dateValid
        }" (click)="handleBanUser()">Ban</button>
    </div>

</div>