<div class="box-container">
    <div class="user">
        <app-icon class="avatar" src="/assets/svg/icon_user.svg" color="white"/>
        <label>{{user.username}}</label>
        <button class="btn-light-small" style="margin-top: auto;">Ready</button>
    </div>
    <div class="info">
        <app-icon class="btl" src="/assets/svg/icon_battle.svg" color="white"/>
        <label>00:30</label>
        <button class="btn-dark-small">Cancel</button>
    </div>
    <div class="user">
        <app-icon class="avatar" src="/assets/svg/icon_user.svg" color="white"/>
        <label>{{opponent.username}}</label>
        <button class="btn-light-small" style="margin-top: auto;">Ready</button>
    </div>
</div>