<div style="height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <app-icon src="assets/svg/quiz_logo_icon.svg" color="var(--theme-darkblue-color-3)" style="width: 300px;
        height: 200px;" />
</div>
<div style="height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div class="box-container">
        <div class="user">
            <img [src]="'http://localhost:3000/static/avatars/' + user.avatar" alt="User Avatar" class="avatar" />
            <label>{{user.username}}</label>
            <button class="btn-light-small" style="margin-top: auto;" (click)="onReadyClick()" [disabled]="userReady">Ready</button>
            <app-icon *ngIf="!userReady" src="/assets/svg/icon_empty_circle.svg" color="var(--theme-darkblue-red)" />
            <app-icon *ngIf="userReady" src="/assets/svg/icon_circle_check.svg" color="var(--theme-darkblue-green)" />
        </div>
        <div class="info">
            <app-icon class="btl" src="/assets/svg/icon_battle.svg" color="white" />
            <label>{{remainingSeconds}}s</label>
            <button class="btn-dark-small" style="margin-top: auto;" (click)="onCancelClick()">Cancel</button>
        </div>
        <div class="user">
            <img [src]="'http://localhost:3000/static/avatars/' + opponent.avatar" alt="User Avatar" class="avatar" />
            <label>{{opponent.username}}</label>
            <button class="btn-light-small" style="margin-top: auto; user-select: none; pointer-events: none;"
                disabled>Ready</button>
            <app-icon *ngIf="!opponentReady" src="/assets/svg/icon_empty_circle.svg"
                color="var(--theme-darkblue-red)" />
            <app-icon *ngIf="opponentReady" src="/assets/svg/icon_circle_check.svg"
                color="var(--theme-darkblue-green)" />
        </div>
    </div>
</div>

<div class="tips-background">
    <div class="tips-container">
        <label style="font-size: 20px;">Tips</label>
        <div class="tip-text">
            <div style="text-align: center;" *ngIf="currentTip" [@tipAnim]>
                {{ currentTip }}
            </div>
        </div>
    </div>
</div>
<div *ngIf="showDeclined" class="decline-background">
    <div class="decline-container">
        <label>{{declineUsername}} has cancelled the match.</label>
        <label>Returning to main page in {{declineTimeRemaining}}s...</label>
    </div>
</div>
<div *ngIf="showCancelled" class="decline-background">
    <div class="decline-container">
        <label>Match has been cancelled.</label>
        <label>Returning to main page in {{declineTimeRemaining}}s...</label>
    </div>
</div>

