body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: "Titillium_Web-Regular";
    src: url("/assets/fonts/TitilliumWeb-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Titillium_Web-SemiBold";
    src: url("/assets/fonts/TitilliumWeb-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "Titillium_Web-Bold";
    src: url("/assets/fonts/TitilliumWeb-Bold.ttf") format('truetype');
}