<app-header [userRole]="user.role" (handleIconClick)="headerIconClick($event)"></app-header>
<app-notification-container class="fr-notif" />
<app-user-settings *ngIf="showUserSettings" [user]="this.user" (close)="closeUserSettings()" />
<app-show-avatars *ngIf="showAvailableAvatars" [userId]="this.user.id" [userAvatar]="this.user.avatar"
    (closeAvatars)="handleCloseEditAvatar($event)" />
<div class="main-container">
    <div class="col-cont" style="max-width: 40%;">
        <div class="user-info">
            <div class="user">
                <div style="position: relative;">
                    <img [src]="'http://localhost:3000/static/avatars/' + user.avatar" alt="User Avatar"
                        class="user-avatar" />
                    <app-icon class="avatar_icon" src="/assets/svg/icon_edit.svg" color="var(--theme-darkblue-color-3)"
                        title="Edit avatar" (click)="showAvailableAvatars = true;" />
                </div>

                <label>{{user.firstname}} {{user.lastname}}</label>
                <span>-</span>
                <label>{{user.username}}</label>
            </div>
            <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
            <div class="stats">
                <div class="col">
                    <label>Quizzes played</label>
                    <label>{{userStatistic.total_quizzes}}</label>
                </div>
                <span class="v-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
                <div class="col">
                    <label>Average score</label>
                    <label *ngIf="userStatistic.avg_score !== 0">{{userStatistic.avg_score | number:'1.2-2'}}%</label>
                    <label *ngIf="userStatistic.avg_score === 0">TBD</label>
                </div>
                <span class="v-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
                <div class="col">
                    <label>Average time</label>
                    <label *ngIf="userStatistic.avg_time !== 0">{{userStatistic.avg_time | number:'1.2-2'}}s</label>
                    <label *ngIf="userStatistic.avg_time === 0">TBD</label>
                </div>
            </div>
        </div>
        <div class="user-history">
            <label>History</label>
            <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Start</th>
                            <th>Duration</th>
                            <th>Outcome</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="userPlayHistory.length !== 0">
                        <tr *ngFor="let item of filteredData">
                            <td>{{ item.category }}</td>
                            <td>{{ item.start | date: 'dd.MM.yy HH:mm:ss' }}</td>
                            <td>{{ formatDuration(item.duration) }}</td>
                            <td
                                [style.color]="item.user_id === item.winner_id ? 'var(--theme-darkblue-green)' : 'var(--theme-darkblue-red)'">
                                {{getBattleOutcome(item)}}</td>
                            <td>
                                <button class="btn-light-small" style="margin: 0;"
                                    (click)="showDetails(item)">Details</button>
                            </td>
                    </tbody>
                    <tbody *ngIf="userPlayHistory.length === 0">
                        <td class="neutral-italic" colspan="5">--- Play history does not exist ---</td>
                    </tbody>
                </table>
            </div>
            <div class="paginator">
                <span style="margin-left: auto;">{{ currentPage }} / {{ totalPages }}</span>
                <app-icon class="icon-paginator" src="/assets/svg/icon_first_page.svg" color="white" title="First Page"
                    (click)="firstPage()" />
                <app-icon class="icon-paginator" src="/assets/svg/icon_prev_page.svg" [color]="iconPrevPageColor"
                    title="Previous Page" [class.disabled]="currentPage === 1" (click)="changePage(-1)" />
                <app-icon class="icon-paginator" src="/assets/svg/icon_next_page.svg" [color]="iconNextPageColor"
                    title="Next Page" [class.disabled]="currentPage === totalPages" (click)="changePage(1)" />
                <app-icon class="icon-paginator" src="/assets/svg/icon_last_page.svg" color="white" title="Last Page"
                    (click)="lastPage()" />
            </div>
        </div>
    </div>
    <div class="col-cont" style="max-width: 30%;">
        <div class="matchmaking">
            <div class="matchmaking-btns">
                <div class="category">
                    <label>Category</label>
                    <select class="select-light" [(ngModel)]="searchCategory" id="category" name="category"
                        [disabled]="isSearching || user.banned_until !== null">
                        <option style="cursor: pointer;" *ngFor="let cat of allCategories" [value]="cat">{{cat}}
                        </option>
                    </select>
                </div>
                <div class="play-btns">
                    <div class="search">
                        <label *ngIf="!isSearching"> &nbsp;</label>
                        <label *ngIf="isSearching">Searching {{ formattedTime }}</label>
                        <button class="btn-light" style="width: 150px; height: fit-content;" [ngClass]="{
                'btn-glow': isSearching
            }" (click)="onBattleClick()" [disabled]="searchDisabled || user.banned_until">{{matchmakingLbl}}</button>
                    </div>
                </div>
            </div>
            <div *ngIf="user.banned_until != null" class="ban-message">
                <label>Banned until: {{user.banned_until | date: 'dd.MM.yy HH:mm:ss'}}</label>
            </div>
        </div>
        <div class="news-container">
            <label style="font-size: 20px;">News and updates</label>
            <span class="h-divider"
                style="background-color: var(--theme-darkblue-color-3); color: transparent;">aaa</span>
            <div class="news-carousel">
                <div class="carousel-slide" *ngFor="let item of news; let i = index"
                    [class.active]="i === newsCurrentSlide">
                    <div class="carousel-img-container">
                        <img [src]="item.imageUrl" alt="News Image" />
                        <app-icon class="news-prev" src="/assets/svg/icon_prev_page.svg" color="white" title="Previous"
                            (click)="prevNewsSlide()" />
                        <app-icon class="news-next" src="/assets/svg/icon_next_page.svg" color="white" title="Next"
                            (click)="nextNewsSlide()" />
                    </div>
                    <div class="news-caption">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-cont" style="max-width: 30%;">
        <div class="lboard">
            <div class="hdr">
                <label>Leaderboard </label>
                <app-icon class="icon" style="margin-left: auto;" src="/assets/svg/icon_refresh.svg"
                    color="var(--theme-darkblue-color-3)" title="Refresh" [class.disabled]="leaderBoardRefreshDisabled"
                    (click)="handleRefreshLeaderboardClick()" />
            </div>
            <div style="display: flex; flex-direction: column; width: 100%;">
                <div class="lboard-categories">
                    <label class="lboard-cat" *ngFor="let cat of allCategories"
                        [class.selected]="leaderBoardCategory === cat"
                        (click)="handleLeaderboardCategoryClick(cat)">{{cat}}</label>
                </div>
                <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
            </div>

            <div *ngIf="!leaderBoardLoading" class="lboard-container">
                <div class="lboard-user" *ngFor="let user of leaderbaord, let i = index">
                    <label>{{user.username}}</label>
                    <label>{{user.ranking | number:'1.0'}} </label>
                </div>
            </div>
            <div *ngIf="leaderBoardLoading" class="lboard-loading">
                <app-spinner size="20px" border-width="2px" color="var(--theme-color-neutral-1)" />
            </div>
        </div>
        <div class="friends">
            <div class="hdr">
                <label>{{friendsLabel}}</label>
                <div style="display: flex; flex-direction: row; gap: 10px; margin-left: auto;">
                    <app-icon class="icon" [class.selected]="friendsTab === FRIENDS_TAB.FRIENDS"
                        src="/assets/svg/icon_user.svg" color="var(--theme-darkblue-color-3)" title="Friends"
                        (click)="handleFriendTabClick(0)" />
                    <div style="position: relative;">
                        <app-icon class="icon" style="display: block; z-index: 2;"
                            [class.selected]="friendsTab === FRIENDS_TAB.FRIENDS_REQUEST" #friendRequestIcon
                            src="/assets/svg/icon_user_invite.svg" color="var(--theme-darkblue-color-3)"
                            title="Friend Requests" (click)="handleFriendTabClick(1)"></app-icon>
                        <label *ngIf="friendsRequest.length > 0" class="floating-number"
                            style="z-index: 1;">{{friendsRequest.length}}</label>
                    </div>
                    <app-icon class="icon" [class.selected]="friendsTab === FRIENDS_TAB.ADD_FRIEND"
                        src="/assets/svg/icon_add_user.svg" color="var(--theme-darkblue-color-3)" title="Add Friend"
                        (click)="handleFriendTabClick(2)" />
                </div>
            </div>
            <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
            <div class="frnds-container">
                <div *ngIf="friendsTab === FRIENDS_TAB.FRIENDS">
                    <div *ngIf="friends.length > 0">
                        <div class="frnd-div" *ngFor="let f of friends, let i = index">
                            <div style="display: flex; flex-direction: row; gap: 2px; align-items: center;">
                                <label>{{f.username}}</label>
                                <app-icon *ngIf="f.online" style="width: 16px; height: 16px;"
                                    src="/assets/svg/icon_radio_circle.svg" color="var(--theme-darkblue-green)" />
                            </div>
                            <div
                                style="display: flex; margin-left: auto; flex-direction: row-reverse; gap: 5px; align-items: center;">
                                <app-icon class="icon small" src="/assets/svg/icon_circle_minus.svg"
                                    color="var(--theme-darkblue-color-3)" title="Remove Friend"
                                    (click)="handleRemoveFriendClick(f.friendId, f.username)" />
                                <app-icon *ngIf="f.online" class="icon small" src="/assets/svg/icon_battle.svg"
                                    [color]="getBattleIconColor(f)" title="Battle friend"
                                    (click)="handleBattleFriend(f)"
                                    [class.disabled]="f.battleRequestReceived || f.battleRequestSent"
                                    [style.marginLeft]="updateLeftMargin(f)" />
                                <app-icon *ngIf="f.online && f.battleRequestSent" class="icon small withdraw"
                                    src="/assets/svg/icon_flag_2.svg" color="white" (click)="handleBattleWithdraw(f)"
                                    title="Withdraw" />
                                <app-icon *ngIf="f.online && f.battleRequestReceived" class="icon small"
                                    src="/assets/svg/icon_circle_x.svg" color="var(--theme-darkblue-color-3)"
                                    (click)="handleBattleDecline(f)" title="Decline battle" />
                                <app-icon *ngIf="f.online && f.battleRequestReceived" class="icon small"
                                    src="/assets/svg/icon_circle_check.svg" color="var(--theme-darkblue-color-3)"
                                    (click)="handleBattleAccept(f)" title="Accept battle" />
                            </div>
                        </div>
                    </div>
                    <label class="neutral-italic" *ngIf="friends.length === 0">No friends... You can add
                        friends.</label>
                </div>
                <div *ngIf="friendsTab === FRIENDS_TAB.FRIENDS_REQUEST">
                    <div *ngIf="friendsRequest.length !== 0">
                        <div class="frnd-div" *ngFor="let f of friendsRequest, let i = index">
                            <label>
                                {{f.username}}
                            </label>
                            <app-icon class="icon small" style="margin-left: auto;"
                                src="/assets/svg/icon_circle_check.svg" color="var(--theme-darkblue-color-3)"
                                title="Accept Friend Request" (click)="handleAcceptFriendRequest(f)" />
                            <app-icon class="icon small" src="/assets/svg/icon_circle_x.svg"
                                color="var(--theme-darkblue-color-3)" title="Reject Friend Request"
                                (click)="handleRejectFriendRequest(f.friendId)" />
                        </div>
                    </div>
                    <label class="neutral-italic" *ngIf="friendsRequest.length === 0">No friend requests...</label>
                </div>
                <div *ngIf="friendsTab === FRIENDS_TAB.ADD_FRIEND">
                    <div class="srch-usr-div">
                        <input id="searchUser" name="searchUser" [(ngModel)]="searchUserText"
                            placeholder="Enter username..." />
                        <div style="height: 100%; display: flex; flex-direction: row; gap: 10px; align-items: center;">
                            <button class="btn-light-small" (click)="handleSearchUsersClick()">Search</button>
                            <button class="btn-light-small" (click)="handleClearUsersSearchClick()">Clear</button>
                        </div>

                    </div>
                    <div class="sugg-usr-div">
                        <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
                        <div *ngIf="suggestedUsers.length !== 0">
                            <div class="frnd-div" *ngFor="let u of suggestedUsers">
                                {{ u.username }}
                                <app-icon class="icon small" style="margin-left: auto;"
                                    src="/assets/svg/icon_circle_plus.svg" color="var(--theme-darkblue-color-3)"
                                    title="Send Friend Request" (click)="handleSendFriendRequest(u.id)" />
                            </div>
                        </div>
                        <label class="neutral-italic" *ngIf="suggestedUsers.length === 0 && !searchUsed">Suggested
                            users...</label>
                        <label class="neutral-italic" *ngIf="suggestedUsers.length === 0 && searchUsed">Users not
                            found...</label>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
<app-footer></app-footer>
<ng-container #displayQuizQuestionsContainer>
</ng-container>