<app-header></app-header>
<div class="main-container">
    <div class="col-cont">
        <div class="user-info">
            <div class="user">
                <app-icon
                    style="width: 30px; height: 30px; border: 1px solid var(--theme-darkblue-color-3); border-radius: 2px; padding: 5px;"
                    src="assets/svg/icon_user.svg" color="var(--theme-darkblue-color-3)"></app-icon>
                <label>{{user.firstname}} {{user.lastname}}</label>
                <span>-</span>
                <label>{{user.username}}</label>
            </div>
            <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
            <div class="stats">
                <div class="col">
                    <label>Quizzes played</label>
                    <label>{{userStatistic.total_quizzes}}</label>
                </div>
                <span class="v-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
                <div class="col">
                    <label>Average score</label>
                    <label>{{userStatistic.avg_score | number:'1.2-2'}}</label>
                </div>
                 <span class="v-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
                <div class="col">
                    <label>Average time</label>
                    <label>{{userStatistic.avg_time | number:'1.2-2'}}</label>
                </div>
            </div>
        </div>
        <div class="user-history">

        </div>
    </div>
    <div class="col-cont">
        <label> B </label>
    </div>
    <div class="col-cont">
        C
        <div class="lboard">

        </div>
        <div class="friends">

        </div>
        <div class="btns">

        </div>
    </div>
</div>
<app-footer></app-footer>