:host {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: radial-gradient(ellipse at center, #0056b9, #13243c 70%);
    color: #fff;
    font-family: 'Titillium_Web-Regular', sans-serif;
    overflow: hidden;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col-cont {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
}

.user-info {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--theme-darkblue-box-bg);
    border: 1px solid var(--theme-darkblue-color-3);
    border-radius: 2px;

    .user {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .stats {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
        align-items: center;

        .col {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2px;

            label {
                width: fit-content;
            }
        }
    }
}

.user-history {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--theme-darkblue-box-bg);
    border: 1px solid var(--theme-darkblue-color-3);
    border-radius: 2px;
    overflow: hidden;

    label {
        font-size: 20px;
    }

    .table-container {
        box-sizing: border-box;
        max-height: 500px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    table {
        width: 100%;
        padding: 5px;
        background-color: var(--theme-darkblue-color-6);
        border-radius: 2px;
        border-collapse: collapse;

        th {
            font-weight: normal;
            padding: 10px 10px;
        }

        tbody {
            td {
                border-top: 1px solid white;
                padding: 8px 10px;
                align-items: center;
                text-align: center;
            }
        }

    }
}

.play-btns {
    margin-top: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;

    button:hover {
        box-shadow: 0 0 7px 2px white;
    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }
}

.btn-glow {
    animation: btn-glow 3s linear infinite forwards;
}

@keyframes btn-glow {

    0%,
    100% {
        border: 1px solid var(--theme-darkblue-color-6);
        box-shadow: 0 0 1px 0px var(--theme-darkblue-color-3);
        color: var(--theme-darkblue-color-6);
    }

    10%,
    90% {
        border: 1px solid var(--theme-darkblue-color-5);
        box-shadow: 0 0 2px 0.5px var(--theme-darkblue-color-3);
        color: var(--theme-darkblue-color-5);
    }

    20%,
    80% {
        border: 1px solid var(--theme-darkblue-color-4);
        box-shadow: 0 0 4px 1px var(--theme-darkblue-color-3);
        color: var(--theme-darkblue-color-4);
    }

    30%,
    70% {
        border: 1px solid var(--theme-darkblue-color-3);
        box-shadow: 0 0 8px 1.5px var(--theme-darkblue-color-3);
        color: var(--theme-darkblue-color-3);
    }

    40%,
    60% {
        border: 1px solid var(--theme-darkblue-color-3);
        box-shadow: 0 0 14px 3px var(--theme-darkblue-color-3);
        color: var(--theme-darkblue-color-3);
    }

}