<app-header (handleIconClick)="headerIconClick($event)"></app-header>
<app-notification-container class="fr-notif" />
<app-user-settings *ngIf="showUserSettings" [user]="this.user" (close)="closeUserSettings()" />
<div class="main-container">
    <div class="col-cont">
        <div class="user-info">
            <div class="user">
                <app-icon
                    style="width: 30px; height: 30px; border: 1px solid var(--theme-darkblue-color-3); border-radius: 2px; padding: 5px;"
                    src="assets/svg/icon_user.svg" color="var(--theme-darkblue-color-3)" />
                <label>{{user.firstname}} {{user.lastname}}</label>
                <span>-</span>
                <label>{{user.username}}</label>
            </div>
            <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
            <div class="stats">
                <div class="col">
                    <label>Quizzes played</label>
                    <label>{{userStatistic.total_quizzes}}</label>
                </div>
                <span class="v-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
                <div class="col">
                    <label>Average score</label>
                    <label>{{userStatistic.avg_score | number:'1.2-2'}}</label>
                </div>
                <span class="v-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
                <div class="col">
                    <label>Average time</label>
                    <label>{{userStatistic.avg_time | number:'1.2-2'}}</label>
                </div>
            </div>
        </div>
        <div class="user-history">
            <label>History</label>
            <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Start</th>
                            <th>Duration</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of userPlayHistory">
                            <td>{{ item.category }}</td>
                            <td>{{ item.start | date: 'dd.MM.yy HH:mm:ss' }}</td>
                            <td>{{ formatDuration(item.duration) }}</td>
                            <td>
                                <button class="btn-light-small" style="margin: 0;"
                                    (click)="showDetails(item)">Details</button>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-cont">
        <div class="play-btns">
            <div class="search">
                <label *ngIf="!isSearching"> &nbsp;</label>
                <label *ngIf="isSearching">Searching {{ formattedTime }}</label>
                <button class="btn-light" style="width: 150px; height: fit-content;" [ngClass]="{
                'btn-glow': isSearching
            }" (click)="onBattleClick()">{{matchmakingLbl}}</button>
            </div>

        </div>
    </div>
    <div class="col-cont">
        <div class="lboard">
            <div class="hdr">
                <label>Leaderboard </label>
            </div>
            <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
            <div class="lboard-container">
                <div class="lboard-user" *ngFor="let user of leaderbaord, let i = index">
                    <label>{{user.username}}</label>
                    <label>{{user.score | number:'1.2-2'}} </label>
                </div>
            </div>
        </div>
        <div class="friends">
            <div class="hdr">
                <label>{{friendsLabel}}</label>
                <div style="display: flex; flex-direction: row; gap: 10px; margin-left: auto;">
                    <app-icon class="icon" [class.selected]="friendsTab === FRIENDS_TAB.FRIENDS"
                        src="/assets/svg/icon_user.svg" color="var(--theme-darkblue-color-3)" title="Friends"
                        (click)="handleFriendTabClick(0)" />
                    <div style="position: relative;">
                        <app-icon class="icon" style="display: block; z-index: 2;"
                            [class.selected]="friendsTab === FRIENDS_TAB.FRIENDS_REQUEST" #friendRequestIcon
                            src="/assets/svg/icon_user_invite.svg" color="var(--theme-darkblue-color-3)"
                            title="Friend Requests" (click)="handleFriendTabClick(1)"></app-icon>
                        <label *ngIf="friendsRequest.length > 0" class="floating-number"
                            style="z-index: 1;">{{friendsRequest.length}}</label>
                    </div>
                    <app-icon class="icon" [class.selected]="friendsTab === FRIENDS_TAB.ADD_FRIEND"
                        src="/assets/svg/icon_add_user.svg" color="var(--theme-darkblue-color-3)" title="Add Friend"
                        (click)="handleFriendTabClick(2)" />
                </div>
            </div>
            <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
            <div class="frnds-container">
                <div *ngIf="friendsTab === FRIENDS_TAB.FRIENDS">
                    <div *ngIf="friends.length > 0">
                        <div class="frnd-div" *ngFor="let f of friends, let i = index">
                            <div style="display: flex; flex-direction: row; gap: 2px; align-items: center;">
                                <label>{{f.username}}</label>
                                <app-icon *ngIf="f.online" style="width: 16px; height: 16px;"
                                    src="/assets/svg/icon_radio_circle.svg" color="var(--theme-darkblue-green)" />
                            </div>
                            <div
                                style="display: flex; margin-left: auto; flex-direction: row-reverse; gap: 2px; align-items: center;">
                                <app-icon class="icon small" src="/assets/svg/icon_circle_minus.svg"
                                    color="var(--theme-darkblue-color-3)" title="Remove Friend"
                                    (click)="handleRemoveFriendClick(f.friendId)" />
                                <app-icon class="icon small" src="/assets/svg/icon_battle.svg"
                                    [color]="getBattleIconColor(f)" title="Battle friend"
                                    (click)="handleBattleFriend(f)" [class.disabled]="f.battleRequestReceived" 
                                    [style.marginLeft]="updateLeftMargin(f)"/>
                                <app-icon *ngIf="f.battleRequestReceived" class="icon small"
                                    src="/assets/svg/icon_circle_x.svg" color="var(--theme-darkblue-color-3)"
                                    title="Battle friend" />
                                <app-icon *ngIf="f.battleRequestReceived" class="icon small"
                                    src="/assets/svg/icon_circle_check.svg" color="var(--theme-darkblue-color-3)"
                                    title="Battle friend" />
                            </div>

                        </div>
                    </div>
                    <label class="neutral-italic" *ngIf="friends.length === 0">No friends... You can add
                        friends.</label>
                </div>
                <div *ngIf="friendsTab === FRIENDS_TAB.FRIENDS_REQUEST">
                    <div *ngIf="friendsRequest.length !== 0">
                        <div class="frnd-div" *ngFor="let f of friendsRequest, let i = index">
                            <label>
                                {{f.username}}
                            </label>
                            <app-icon class="icon small" style="margin-left: auto;"
                                src="/assets/svg/icon_circle_check.svg" color="var(--theme-darkblue-color-3)"
                                title="Accept Friend Request" (click)="handleAcceptFriendRequest(f)" />
                            <app-icon class="icon small" src="/assets/svg/icon_circle_x.svg"
                                color="var(--theme-darkblue-color-3)" title="Reject Friend Request"
                                (click)="handleRejectFriendRequest(f.friendId)" />
                        </div>
                    </div>
                    <label class="neutral-italic" *ngIf="friendsRequest.length === 0">No friend requests...</label>
                </div>
                <div *ngIf="friendsTab === FRIENDS_TAB.ADD_FRIEND">
                    <div class="srch-usr-div">
                        <input id="searchUser" name="searchUser" [(ngModel)]="searchUserText" size="30"
                            placeholder="Enter username..." />
                        <div style="height: 100%; display: flex; flex-direction: row; gap: 10px; align-items: center;">
                            <button class="btn-light-small" (click)="handleSearchUsersClick()">Search</button>
                            <button class="btn-light-small" (click)="handleClearUsersSearchClick()">Clear</button>
                        </div>

                    </div>
                    <div class="sugg-usr-div">
                        <span class="h-divider" style="background-color: var(--theme-darkblue-color-3);"></span>
                        <div *ngIf="suggestedUsers.length !== 0">
                            <div class="frnd-div" *ngFor="let u of suggestedUsers">
                                {{ u.username }}
                                <app-icon class="icon small" style="margin-left: auto;"
                                    src="/assets/svg/icon_circle_plus.svg" color="var(--theme-darkblue-color-3)"
                                    title="Send Friend Request" (click)="handleSendFriendRequest(u.id)" />
                            </div>
                        </div>
                        <label class="neutral-italic" *ngIf="suggestedUsers.length === 0 && !searchUsed">Suggested
                            users...</label>
                        <label class="neutral-italic" *ngIf="suggestedUsers.length === 0 && searchUsed">Users not
                            found...</label>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
<app-footer></app-footer>
<ng-container #displayQuizQuestionsContainer>

</ng-container>