:host {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-width: fit-content;
    background: radial-gradient(ellipse at center, #0056b9, #13243c 70%);
    color: #fff;
    font-family: 'Titillium_Web-Regular', sans-serif;
    overflow-y: hidden;
    overflow-x: auto;
}

.main-container {
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col-cont {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.user-info {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--theme-darkblue-box-bg);
    border: 1px solid var(--theme-darkblue-color-3);
    border-radius: 2px;

    .user {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .user-avatar {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 3px;
        background-color: #f0f0f0;
        border: 1px solid var(--theme-darkblue-color-3);
        box-shadow: 0 0 3px 2px var(--theme-darkblue-color-3);
    }

    .stats {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
        align-items: center;

        .col {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2px;

            label {
                width: fit-content;
            }
        }
    }
}

.user-history {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--theme-darkblue-box-bg);
    border: 1px solid var(--theme-darkblue-color-3);
    border-radius: 2px;
    overflow: hidden;

    label {
        font-size: 20px;
    }

    .table-container {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    table {
        width: 100%;
        padding: 5px;
        background-color: var(--theme-darkblue-color-6);
        border-radius: 2px;
        border-collapse: collapse;

        thead {
            position: sticky;
            top: 0;
            background-color: var(--theme-darkblue-color-6);
            box-shadow: 0 0 3px 1px var(--theme-darkblue-color-3)
        }

        th {
            font-weight: normal;
            padding: 10px 10px;
        }

        tbody {
            td {
                border-top: 1px solid white;
                padding: 8px 10px;
                align-items: center;
                text-align: center;
            }
        }

    }
}

.play-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    button:hover {
        box-shadow: 0 0 7px 2px white;
    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }
}

.btn-glow {
    animation: btn-glow 3s linear infinite forwards;
}

@keyframes btn-glow {

    0%,
    100% {
        border: 1px solid var(--theme-darkblue-color-6);
        box-shadow: 0 0 1px 0px var(--theme-darkblue-color-3);
        color: var(--theme-darkblue-color-6);
    }

    10%,
    90% {
        border: 1px solid var(--theme-darkblue-color-5);
        box-shadow: 0 0 2px 0.5px var(--theme-darkblue-color-3);
        color: var(--theme-darkblue-color-5);
    }

    20%,
    80% {
        border: 1px solid var(--theme-darkblue-color-4);
        box-shadow: 0 0 4px 1px var(--theme-darkblue-color-3);
        color: var(--theme-darkblue-color-4);
    }

    30%,
    70% {
        border: 1px solid var(--theme-darkblue-color-3);
        box-shadow: 0 0 8px 1.5px var(--theme-darkblue-color-3);
        color: var(--theme-darkblue-color-3);
    }

    40%,
    60% {
        border: 1px solid var(--theme-darkblue-color-3);
        box-shadow: 0 0 14px 3px var(--theme-darkblue-color-3);
        color: var(--theme-darkblue-color-3);
    }

}

.lboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--theme-darkblue-color-3);
    background-color: var(--theme-darkblue-box-bg);
    height: 40%;

    .lboard-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: auto;
    }

    .lboard-user {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 10px;
        background-color: var(--theme-darkblue-color-6);
    }
}

.friends {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--theme-darkblue-color-3);
    background-color: var(--theme-darkblue-box-bg);
    min-height: 40%;
    max-height: 45%;

    .frnds-container {
        width: 100%;
        overflow: auto;
        div {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .frnd-div {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            gap: 5px;
            background-color: var(--theme-darkblue-color-6);
            padding: 5px 10px;
        }

        .srch-usr-div {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            input {
                padding: 10px;
                background-color: var(--theme-darkblue-color-6);
                border: 1px solid white;
                color: white;
                font-size: 16px;
                border-radius: 2px;
            }

            input:focus {
                outline: none;
                border: 1px solid var(--theme-darkblue-color-3);
            }

        }

        .sugg-usr-div {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

.hdr {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
        font-size: 20px;
    }


    .floating-number {
        position: absolute;
        bottom: 2%;
        right: 2%;
        font-size: 10px;
        color: var(--theme-darkblue-red);
    }
}

.neutral-italic {
    color: var(--theme-color-neutral-2);
    font-style: italic;
}

.icon {
    border-radius: 2px;
    padding: 1px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.icon:hover {
    box-shadow: 0 0 3px 1px var(--theme-darkblue-color-3);
}

.icon:active {
    box-shadow: 0 0 5px 2px var(--theme-darkblue-color-3);
}

.icon.selected {
    box-shadow: 0 0 5px 2px var(--theme-darkblue-color-3);
    user-select: none;
    cursor: default;
}

.icon.disabled {
    user-select: none;
    pointer-events: none;
    box-shadow: 0 0 5px 2px var(--theme-darkblue-color-3);
    cursor: default;
}

.icon.small {
    width: 23px;
    height: 23px;
}

.icon.withdraw:hover {
    box-shadow: 0 0 3px 1px white;
}

.icon.withdraw:active {
    box-shadow: 0 0 5px 2px white;
}

.icon.small.disabled {
    user-select: none;
    pointer-events: none;
    animation: battleGlow 3s ease infinite;
}

.avatar_icon {
    position: absolute;
    margin-top: 2px;
    margin-right: 2px;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    display: flex;
    background-color: var(--theme-darkblue-color-6);
    cursor: pointer;
}

.avatar_icon:hover {
    box-shadow: 0 0 3px 1px var(--theme-darkblue-color-3);
}

.avatar_icon:active {
    box-shadow: 0 0 5px 2px var(--theme-darkblue-color-3);
}

@keyframes battleGlow {

    0%,
    100% {
        box-shadow: 0 0 1px 0 var(--theme-darkblue-red);
    }

    50% {
        box-shadow: 0 0 5px 0 var(--theme-darkblue-red);
    }
}

.fr-notif {
    position: fixed;
    bottom: 0;
    right: 0;
}

.matchmaking {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0 20px 0;
    background-color: var(--theme-darkblue-box-bg);
    border: 1px solid var(--theme-darkblue-color-3);
}

.matchmaking-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-evenly;
    gap: 10px;
}

.ban-message {
    box-sizing: border-box;
    width: fit-content;
    background-color: var(--theme-darkblue-color-6);
    padding: 5px 10px;
    border: 1px solid var(--theme-darkblue-red);
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.lboard-categories {
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;

    .lboard-cat {
        padding: 2px 7px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid var(--theme-darkblue-color-3);
        border-bottom: transparent;
        background-color: var(--theme-darkblue-color-6);
        cursor: pointer;
        user-select: none;
        transition: all 0.1s ease;
    }



    .lboard-cat:hover {
        background-color: var(--theme-darkblue-color-4);
    }

    .lboard-cat.selected {
        background-color: var(--theme-darkblue-color-3);
    }

    .lboard-cat:active {
        background-color: var(--theme-darkblue-color-3);
    }
}

.lboard-loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-darkblue-color-6);
    border-radius: 3px;
}