<div class="container">
    <app-icon class="logo" src="assets/svg/quiz_logo_icon.svg" color="var(--theme-darkblue-color-3)"></app-icon>
    <label>Reset your password <span>{{user?.username}}</span></label>
    <form class="reset-box" #resetForm="ngForm">
        <label *ngIf="!user">Enter your user account's verified email address and we will send you a password reset
            link.</label>
        <label *ngIf="user">Password reset link will be sent to {{user.email}}.</label>
        <input *ngIf="!user" id="reset" name="reset" type="text" #emailRef="ngModel" [(ngModel)]="email"
            placeholder="Enter your email address" required email />
        <label *ngIf="message !== ''" class="message" [ngClass]="{
            'error': hasError
        }">{{message}}</label>
        <button *ngIf="!showButton" class="btn-light" style="font-size: 16px; margin-top: 5px;"
            (click)="handleResetEmail()" [disabled]="!resetForm.form.valid && user === null">Send password reset
            email</button>
        <button class="btn-light" style="font-size: 16px; margin-top: 5px;" (click)="goToLogin()">Back to log in</button>
    </form>
</div>